<div
    class="landing-hero text-center text-white mb-5 h-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-3 fw-bold animate__animated animate__fadeInDown">
        Welcome To Button Masher
    </h1>
    <p class="lead animate__animated animate__fadeInUp animate__delay-0.5s">Game On</p>
</div>

<div class="stars"></div>

<div class="shooting-stars">
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
    <div class="shooting-star"></div>
</div>