/* #gameContainer {
    width: 800px;
    height: 400px;
    margin: auto;
    border: 2px solid #333;
    background: #222;
} */

html,
body {
    background: radial-gradient(circle at 50% 50%, #6b3faeb6, #fdc7e9c7) !important;
    display: flex;
    justify-content: center;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.7%;
    background-color: rgba(255, 255, 255, 0.462);
    z-index: 10;
}

.game-over-score {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #275a04;
}

.instructions {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    box-shadow: 0 0 20px #ff008c;
    border: 2px solid #ff00bb;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    border-radius: 20px;
}

.instructions kbd {
    background: #222;
    color: #ffcc00;
    padding: 3px 7px;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: inset 0 -1px 0 #bb9900;
    font-family: monospace;
}