<div class="container p-3 d-flex flex-column justify-content-center align-items-center">

    <div class="container header text-center my-3">
        <h1>Take care of your very own DigiPet</h1>
    </div>

    <canvas #canvas width="1000" height="600"></canvas>

    <div class="controls w-100 d-flex justify-content-center align-items-end gap-3 py-3">
        <button class="btn digi-controls" (click)="feedPet()">
            <img [src]="foodImagePath" alt="Feed" class="button-img" />
        </button>
        <button class="btn digi-controls" (click)="playWithPet()">
            <img [src]="playToyImagePath" alt="Play" class="button-img" />
        </button>
    </div>

    <div class="status-bars">
        <div class="bar-label">Hunger</div>
        <div class="bar-wrapper">
            <div class="bar-fill hunger" [style.width.%]="hunger"></div>
        </div>

        <div class="bar-label">Boredom</div>
        <div class="bar-wrapper">
            <div class="bar-fill boredom" [style.width.%]="boredom"></div>
        </div>
    </div>


</div>