    html,
    body {
        min-width: 313px;
    }

    .pixi-container {
        width: 300px;
        height: 300px;
        border: 2px solid #333;
        margin-bottom: 10px;
    }

    .container {
        margin: auto;
    }

    .controls button {
        margin-right: 10px;
    }

    .digi-controls {
        width: 120px;
        height: 70px;
        cursor: pointer;
        transition: transform 0.1s ease;
        outline: none;
        border: none;
        background: none;
    }

    .digi-controls:active {
        transform: scale(0.95);
    }

    .digi-controls:focus {
        outline: none;
    }

    .digi-controls:focus-visible {
        outline: none;
    }

    .button-img {
        height: 50px;
        width: auto;
    }

    .status-bars {
        /* margin-top: 1rem; */
        width: 300px;
    }

    @media (min-width: 1400px) {
        .status-bars {
            margin-left: 50px;
        }
    }

    .bar-label {
        font-size: 0.9rem;
        margin: 4px 0;
    }

    .bar-wrapper {
        background-color: #e0e0e0;
        border-radius: 8px;
        height: 16px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 12px;
    }

    .bar-fill {
        height: 100%;
        transition: width 0.3s ease;
        position: relative;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-right: 5px;
        overflow: hidden;
        padding-left: 5px
    }

    .bar-label-inside {
        font-size: 11px;
        color: white;
        margin-left: auto;
        padding: 0 2px;
        white-space: nowrap;
    }

    .bar-fill.hunger {
        background-color: #f4aedc;
    }

    .bar-fill.boredom {
        background-color: #87a5f1;
    }

    body {
        background-color: rgb(247, 245, 255);
    }

    .header h1 {
        color: rgb(57, 90, 151);
        font-weight: bold;
    }

    .pill {
        display: inline-block;
        padding: 10px 80px;
        margin-bottom: 20px;
        background-color: #6d002a;
        color: #333;
        font-size: 18px;
        font-weight: 500;
        border-radius: 999px;
        box-shadow: 0 8px 20px rgba(136, 7, 67, 0.674);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .pill h1 {
        color: rgb(254, 236, 242);
        margin: 0;
        font-size: 18px;
    }

    .swell {
        transition: transform 0.3s ease;
    }

    .swell:hover {
        transform: scale(1.1);
    }

    @media (max-width: 1100px) {
        .container {
            padding-top: 60px !important;
        }

        .pill h1 {
            font-size: 0.7rem;
            text-align: center;
        }

        .pill {
            padding: 5px 25px;
        }

        canvas {
            width: 70vw;
            height: auto;
        }
    }

    @media (max-width: 400px) {
        .button-img {
            height: 35px;
        }

        .status-bars {
            width: 80%;
        }

        .bar-label {
            font-size: 0.8rem;
        }

        .digi-controls {
            padding: 0.3rem;
        }
    }


    #menus {
        display: flex;
        max-width: 900px;
    }

    .menu-container {
        margin: 15px auto;
        max-width: 800px;
        padding: 0 5px;
    }

    .menu-container h6 {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 600;
    }

    .menu-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
    }

    .menu-item {
        /* width: calc(50% - 6px); */
        background-color: #f8f9fa;
        border: 1px solid #b0c4de;
        border-radius: 10px;
        width: 80px;
        padding: 5px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        flex-shrink: 0;
    }

    .menu-item:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    }

    .menu-item img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-bottom: 5px;
    }

    .item-details {
        font-size: 10px;
    }

    .item-name {
        font-weight: 500;
        margin-bottom: 3px;
    }

    .item-value {
        color: #555;
        font-size: 9px;
    }

    @media (max-width: 440px) {

        .menu-container {
            padding: 0;
        }

        .menu-grid {
            gap: 6px;
        }

        .menu-item {
            padding: 5px 0;
            width: 65px
        }

        .menu-item img {
            width: 25px;
            height: 25px;
            margin-bottom: 6px;
        }

        .item-name {
            margin-bottom: 2px;
            font-size: 9px;
        }

        .item-value {
            font-size: 7px;
        }
    }