<div class="container-fluid d-flex flex-column justify-content-center align-items-center">

    <div class="d-flex flex-column justify-content-center align-items-center">

        <!-- <div class="pill">
            <h1>Take care of your very own DigiPet</h1>
        </div> -->

        <div class="d-flex gap-1 flex-wrap justify-content-center align-items-center">

            <div class="console-frame">
                <div class="console-top">
                    <div class="camera-dot"></div>
                </div>

                <div class="console-screen">
                    <div class="screen-overlay" id="screenOverlay"></div>

                    <!-- when dead -->
                    <div class="canvas-overlay" *ngIf="isDead">
                        <ng-template [ngTemplateOutlet]="deadMenu"></ng-template>
                    </div>

                    <!-- back to rest of game -->
                    <div class="room-sign" *ngIf="!isShowerMode">Living Room</div>
                    <div class="room-sign bathroom" *ngIf="isShowerMode">Bathroom</div>

                    <div class="status-bars">
                        <div *ngIf="!isShowerMode" class="status-bar">
                            <div class="bar-label">Fed</div>
                            <div class="bar-wrapper">
                                <div class="bar-fill hunger"
                                    [ngClass]="{'low': hunger <= 20 && hunger > 0, 'non-zero': hunger > 0}"
                                    [style.width.%]="hunger">
                                    <span class="bar-label-inside" *ngIf="hunger > 0">{{ hunger }}%</span>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="!isShowerMode" class="status-bar">
                            <div class="bar-label">Entertained</div>
                            <div class="bar-wrapper">
                                <div class="bar-fill boredom"
                                    [ngClass]="{'low': boredom <= 20 && boredom > 0, 'non-zero': boredom > 0}"
                                    [style.width.%]="boredom">
                                    <span class="bar-label-inside" *ngIf="boredom > 0">{{ boredom }}%</span>
                                </div>
                            </div>
                        </div>

                        <div class="status-bar">
                            <div class="bar-label">Clean</div>
                            <div class="bar-wrapper">
                                <div class="bar-fill cleanliness"
                                    [ngClass]="{'low': cleanliness <= 20 && cleanliness > 0, 'non-zero': cleanliness > 0}"
                                    [style.width.%]="cleanliness">
                                    <span class="bar-label-inside" *ngIf="cleanliness > 0">{{ cleanliness }}%</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <canvas #canvas width="900" height="500"></canvas>


                    <!-- Arrow navigation buttons -->
                    <div class="bathroom-navigation">

                        <button *ngIf="!isShowerMode" class="arrow-button left" [disabled]="isDead"
                            (click)="enterBathroom()">
                            <!-- <span class="arrow-text">Visit Bathroom</span> -->
                            <img src="assets/left-arrow.png" alt="Left Arrow" class="arrow-icon" />
                        </button>

                        <button *ngIf="isShowerMode" class="arrow-button right" [disabled]="isDead"
                            (click)="leaveBathroom()">
                            <img src="assets/right-arrow.png" alt="Right Arrow" class="arrow-icon" />
                            <!-- <span class="arrow-text">Leave Bathroom</span> -->
                        </button>
                    </div>


                </div>

                <div class="console-bottom">
                    <div class="btn-dpad" (click)="killPet()">
                        <div class="dpad-up"></div>
                        <div class="dpad-down"></div>
                        <div class="dpad-left"></div>
                        <div class="dpad-right"></div>
                        <div class="dpad-center"></div>
                    </div>
                    <div class="speaker-grille">
                        <span></span><span></span><span></span><span></span>
                    </div>
                    <!-- <button class="btn-bathroom" *ngIf="!isShowerMode" [disabled]="isDead"
                        (click)="enterBathroom()">Visit
                        Bathroom</button>
                    <button class="btn-bathroom" *ngIf="isShowerMode" [disabled]="isDead"
                        (click)="leaveBathroom()">Leave
                        Bathroom</button> -->

                    <div>
                        <!-- <p id="branding" [class.smooth-glow]="loadingScreenOn">BUTTON MASHER</p> -->
                        <div>
                            <input id="digipetName" class="form-control" type="text" placeholder="name your pet">
                        </div>
                    </div>

                    <div class="speaker-grille">
                        <span></span><span></span><span></span><span></span>
                    </div>

                    <div id="mainBtn" class="btn btn-circle mx-2" (click)="toggleShowerHead()" [class.disabled]="isDead"
                        [attr.aria-disabled]="isDead ? true : null" [style.pointerEvents]="isDead ? 'none' : 'auto'">
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="controls w-100 d-flex justify-content-center align-items-end">
        <!-- <button class="btn digi-controls swell" (click)="feedPet()">
            <img [src]="foodImagePath" alt="Feed" class="button-img" />
        </button>
        <button class="btn digi-controls swell" (click)="playWithPet()">
            <img [src]="playToyImagePath" alt="Play" class="button-img" />
        </button> -->
    </div>

    <div id="menus" *ngIf="!isDead && !isShowerMode">
        <div class="menu-container">
            <h6>Food Menu</h6>
            <div class="menu-grid">
                <div *ngFor="let food of foodItems" class="menu-item" (click)="applyEffect(food.effect)">
                    <img [src]="'assets/' + food.id + '.png'" [alt]="food.name" />
                    <div class="item-details">
                        <!-- <div class="item-name">{{ food.name }}</div> -->
                        <div class="item-value">{{ food.valueLabel }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-container">
            <h6>Toy Menu</h6>
            <div class="menu-grid">
                <div *ngFor="let toy of toyItems" class="menu-item" (click)="applyEffect(toy.effect)">
                    <img [src]="'assets/' + toy.id + '.png'" [alt]="toy.name" />
                    <div class="item-details">
                        <!-- <div class="item-name">{{ toy.name }}</div> -->
                        <div class="item-value">{{ toy.valueLabel }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ng-template #deadMenu>
        <ng-container *ngIf="!isShowerMode">
            <div id="revive-item" class="menu-item disabled" (click)="revivePet()">
                <img src="assets/potion.png" alt="Revive" />
                <div class="item-details">
                    <div class="item-value">Revive</div>
                </div>
            </div>
        </ng-container>
    </ng-template>

</div>